<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">${sobek.dataSource.driverClassName}</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="com.despegar.sobek.model.AbstractCatalogue" />
		<mapping class="com.despegar.sobek.model.AbstractDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.AbstractResource" />
		<mapping class="com.despegar.sobek.model.Appliance" />
		<mapping class="com.despegar.sobek.model.Benefit" />
		<mapping class="com.despegar.sobek.model.BenefitDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.BenefitStatus" />
		<mapping class="com.despegar.sobek.model.BenefitStatusDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.BenefitCategory" />
		<mapping class="com.despegar.sobek.model.BenefitCategoryDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.Brand" />
		<mapping class="com.despegar.sobek.model.BrandDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.Company" />
		<mapping class="com.despegar.sobek.model.Contact" />
		<mapping class="com.despegar.sobek.model.GeoArea" />
		<mapping class="com.despegar.sobek.model.Language" />
		<mapping class="com.despegar.sobek.model.Picture" />
		<mapping class="com.despegar.sobek.model.PictureSize" />
		<mapping class="com.despegar.sobek.model.Product" />
		<mapping class="com.despegar.sobek.model.ProductDescriptionI18N" />
		<mapping class="com.despegar.sobek.model.VoucherI18N" />
	</session-factory>
</hibernate-configuration>
